In [34]:
#importing pandas
import pandas as pd

In [77]:
#load files
school_data="schools_complete.csv"
student_data="students_complete.csv"

#Read files and store in pandas
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

In [78]:
#merge data files together on school name
complete_school_data=pd.merge(student_data_df, school_data_df, how='left', on=["school_name", "school_name"])

In [37]:
#delete me before submitting
complete_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [38]:
#calculating total schools
total_schools=complete_school_data["school_name"].nunique()
total_schools

15

In [39]:
#calculating total students
total_students=complete_school_data["student_name"].count()
total_students

39170

In [40]:
#calculating total budget 
#this is wrong needs to be adding up each school once
budget=[]
for x in complete_school_data["budget"]:
    if x not in budget:
        budget.append(x)
budget
type(budget)
total_budget=sum(budget)
total_budget

24649428

In [41]:
#average math score
sum_math=complete_school_data["math_score"].sum()
average_math=sum_math/39170
average_math

78.98537145774827

In [42]:
#average reading score
sum_reading=complete_school_data["reading_score"].sum()
average_reading=sum_reading/39170
average_reading

81.87784018381414

In [44]:
# % passing math
pass_math=complete_school_data["math_score"] >=70
pass_math_percent=(sum(pass_math)/39170)*100
pass_math_percent

74.9808526933878

In [45]:
# % passing reading
pass_reading=complete_school_data["reading_score"] >=70
pass_reading_percent=(sum(pass_reading)/39170)*100
pass_reading_percent

85.80546336482001

In [46]:
# % overall pass
overall_pass= (complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70)
overall_pass_percent= sum(overall_pass)/39170
overall_pass_percent

0.6517232575950983

In [47]:
 # Creating summary Table
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                    "Total Students": [total_students],
                    "Total Budget": [total_budget],
                    "Average Math Score": [average_math],
                    "Average Reading Score": [average_reading],
                    "% Passing Math": [pass_math_percent],
                    "% Passing Reading": [pass_reading_percent],
                    "% Overall Passing": [overall_pass_percent]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,0.651723

In [83]:
#school summary table
#school name
group_school = complete_school_data.groupby(["school_name"])
group_school.head()
#school_name=[]
#for x in complete_school_data["school_name"]:
    #if x not in school_name:
        #school_name.append(x)
#per student budget
student_budget=complete_school_data["budget"]/complete_school_data["size"]
student_budget

#reading math average
#creating a list of the school sizes
size_group=[]
complete_school_data=complete_school_data.sort_values("school_name", ascending=True)
for x in complete_school_data["size"]:
    if x not in size_group:
        size_group.append(x)
size_group
#math average
math_sum = group_school ["math_score"].sum()
math_sum
math_average=math_sum/size_group
math_average
#reading average
reading_sum = group_school ["reading_score"].sum()
reading_sum
reading_average=reading_sum/size_group
reading_average
math_average

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64