In [1]:
#importing pandas
import pandas as pd

In [2]:
#load files
school_data="schools_complete.csv"
student_data="students_complete.csv"

#Read files and store in pandas
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

In [3]:
#merge data files together on school name
complete_school_data=pd.merge(student_data_df, school_data_df, how='left', on=["school_name", "school_name"])

In [4]:
#delete me before submitting
complete_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
#calculating total schools
total_schools=complete_school_data["school_name"].nunique()
total_schools

15

In [6]:
#calculating total students
total_students=complete_school_data["student_name"].count()
total_students

39170

In [7]:
#calculating total budget 
#this is wrong needs to be adding up each school once
budget=[]
for x in complete_school_data["budget"]:
    if x not in budget:
        budget.append(x)
budget
type(budget)
total_budget=sum(budget)
total_budget

24649428

In [8]:
#average math score
average_math=complete_school_data["math_score"].mean()
average_math

78.98537145774827

In [15]:
#average reading score
average_reading=complete_school_data["reading_score"].mean()
average_reading

81.87784018381414

In [17]:
# % passing math

pass_math=[]
for x in complete_school_data["math_score"]:
    if x >=70:
        pass_math.append(100)
    else:
        pass_math.append(0)
complete_school_data ["Pass Math"] =pass_math
pass_math_percent=complete_school_data["Pass Math"].mean()

pass_math_percent

74.9808526933878

In [18]:
# % passing reading

pass_reading=[]
for x in complete_school_data["reading_score"]:
    if x >=70:
        pass_reading.append(100)
    else:
        pass_reading.append(0)
complete_school_data ["Pass Reading"] =pass_reading
pass_reading_percent=complete_school_data["Pass Reading"].mean()

pass_reading_percent

85.80546336482001

In [46]:
# % overall pass
#pass_overall=[]
pass_overall=complete_school_data["Pass Math"] + complete_school_data["Pass Reading"]

    
complete_school_data["Pass Overall"] = pass_overall
complete_school_data.head()
pass_overall_fixed=[]
for x in complete_school_data["Pass Overall"]:
    if x==200:
        pass_overall_fixed.append(100)
    else:
        pass_overall_fixed.append(0)
complete_school_data["Pass Overall"] = pass_overall_fixed
complete_school_data.head()

#for x in complete_school_data["reading_score"]:
    #if (pass_math ==100) & (pass_reading==100):
       # pass_overall.append(100)
   # else:
       # pass_overall.append(0)
#complete_school_data["Pass Overall"]=pass_overall
#pass_overall_percent=complete_school_data["Pass Overall"].mean()
#overall_pass_percent = pass_math.add(pass_reading)
#overall_pass= (complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70)
#overall_pass_percent= sum(overall_pass)/39170
#overall_pass_percent

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pass Math,Pass Reading,Pass Overall
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,100,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,100,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,100,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,100,100,100

In [47]:
 # Creating summary Table
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                    "Total Students": [total_students],
                    "Total Budget": [total_budget],
                    "Average Math Score": [average_math],
                    "Average Reading Score": [average_reading],
                    "% Passing Math": [pass_math_percent],
                    "% Passing Reading": [pass_reading_percent],
                    "% Overall Passing": [overall_pass_percent]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,0.651723

In [49]:
# school summary table
#groupby statement
group_school=complete_school_data.groupby(["school_name"])
#calculating average math and reading score, size, budget, pass math,  pass reading, and pass overall
school_df=group_school.mean()
school_df.head()

,Student ID,reading_score,math_score,School ID,size,budget,Pass Math,Pass Reading,Pass Overall
school_name,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,66.680064,81.933280,54.642283
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,94.133477,97.039828,91.334769
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,65.988471,80.739234,53.204476
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,68.309602,79.299014,54.289887
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,93.392371,97.138965,90.599455

In [91]:
 
school_df=school_df.rename(columns={'school_name': 'School Name',
                                   "reading_score": "Average Reading Score",
                                    "math_score" : "Average Math Score",
                                    "size": "Total Students",
                                    "budget": "Total School Budget",
                                   "Pass Math": "% Passing Math",
                                   "Pass Reading": "% Passing Reading",
                                   "Pass Overall": "% Overall Passing"})

#adding per student budget 
student_budget=complete_school_data["budget"]/complete_school_data["size"]
student_budget
budget_per_student = []
for x in student_budget:
    if x not in budget_per_student:
        budget_per_student.append(x)
school_df["Per Student Budget"]=budget_per_student
school_df


school_df
#adding school type
names_df=complete_school_data[["school_name", "type"]]
names_df.drop_duplicates(subset ="school_name", 
                      inplace =True)
names_df_sorted=names_df.sort_values("school_name", ascending=True)
names_df_sorted
#school_df["School Type"]=names_df_sorted["type"]
#school_df
#copythe types from the printout to a list
school_type=["District", "Charter", "District", "District", "Charter", "District", "Charter", 
             "District", "District", "Charter", "District", "Charter", "Charter", "Charter", "Charter"]
school_df["School Type"]=school_type
school_df.head()

#dropping unneeded columns
school_df=school_df[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", 
                     "% Passing Reading", "% Overall Passing"]]
school_df

C:\Users\mceky\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,655.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,639.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,600.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,652.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,578.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,582.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,628.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,581.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,583.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,637.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,650.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,644.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,638.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [97]:
#Top Performing Schools by % Overall Passing
school_df_passing_highest=school_df.sort_values("% Overall Passing", ascending=False)
school_df_passing_highest.iloc[0:5, :]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,639.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,1043130.0,650.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,644.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [99]:
#Bottom Performing Schools by % Overall Passing
school_df_passing_lowest=school_df.sort_values("% Overall Passing", ascending=True)
school_df_passing_lowest.iloc[0:5, :]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,583.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,1884411.0,600.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917.0,1910635.0,628.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,3022020.0,578.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,3094650.0,581.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [100]:
#Math scores by grade

In [101]:
#Reading scores by grade

In [125]:
#Scores by Budget Per Student
#sorting to get an idea of the bins
school_df_budget=school_df.sort_values("Per Student Budget", ascending=True)
school_df_budget
#Creating the bins
#group_names =["$578-600", "$600-629", "$630-649", "650-$655"]
bins = [0, 600, 630, 649, 656]
school_df_budget
school_df_budget["Spending Ranges Per Student"]=pd.cut(school_df_budget["Per Student Budget"], bins, right=False, labels= group_names, include_lowest=True)
school_df_budget

#Groupby
school_df_budget=school_df_budget.groupby("Spending Ranges Per Student")
school_df_budget=school_df_budget.mean()
school_df_budget

#keeping only the relevant columns
school_df_budget=school_df_budget[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
school_df_budget

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges Per Student,,,,,
$578-600,78.752051,81.615120,72.920741,84.639603,62.320523
$600-629,80.133149,82.550549,79.914839,88.785141,71.964589
$630-649,83.344443,83.911498,93.800412,96.511302,90.535694
650-$655,79.189791,81.876383,76.087279,86.180387,66.626727

In [130]:
#Scores by School Size
school_df_size=school_df.sort_values("Total Students", ascending=True)
school_df_size
group_names=["Small (<1800)", "Medium (1800-2999)", "Large (3000+)"]
bins= [0, 1800, 3000, 5000]
school_df_size["School Size"]=pd.cut(school_df_size["Total Students"], bins, right=False, labels= group_names, include_lowest=True)
school_df_size=school_df_size.groupby("School Size")
school_df_size=school_df_size.mean()
school_df_size

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,,,,
Small (<1800),1250.600000,7.702350e+05,620.60,83.554500,83.850220,93.526422,96.500267,90.241456
Medium (1800-2999),2424.333333,1.501549e+06,633.50,80.077015,82.501211,80.219420,88.590875,72.209819
Large (3000+),4592.750000,2.947240e+06,599.25,77.063340,80.919864,66.464293,81.059691,53.674303

In [107]:
#Scores by School Type
type_df=school_df.groupby(["School Type"])
school_type_df=type_df.mean()
school_type_df=school_type_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208